.user-list {
    width:100%;
    margin-left:15px;
}
.user-list .list-group li {
    text-align:left;
    font-size: 0.875em;
	background: #f5f5f5;
	border-top: 10px solid #fff;
	vertical-align: middle;
    padding: 12px 8px;
    width:17%;
    text-align: center;
  
}
.user-name, .user-age, .user-email, .user-edit, .user-delete {
    padding-top:70px !important;
    font-size:20px !important;
}

.card-image {
    padding:20px;
}
.user-card {
    border: 1px solid black;
    width: 300px;
    margin: 10px;
}

.picture-holder {
    position: relative;
}

.edit-icon {
    position: absolute;
    right: 15px;
}

.cursor-pointer {
    cursor: pointer;
}

.user-list { 
    position: relative;
	width:100%;
	float: left;
	margin-right: 15px;
}
.edit-button:hover {
    background-color:#04003b !important;
    border-color: #04003b !important;
}
.delete-button:hover { 
    background-color:darkred !important;
    border-color:darkred !important;
}